/Include/CORBA/ObjectFactory.h
/Include/CORBA/OctetSeq.h
/Include/CORBA/OctetSeq_s.h
/Source/OctetSeq.cpp
/Include/CORBA/TCKind.h
/Include/CORBA/TCKind_s.h
/Include/CORBA/TypeCode.h
/Include/CORBA/TypeCode_s.h
/Include/CORBA/IORequest.h
/Include/CORBA/Proxy/IOReference.h
/Include/CORBA/DynamicServant.h
/Include/CORBA/DynamicServant_s.h
/Include/CORBA/Proxy/ProxyFactory.h
/Include/CORBA/Proxy/ProxyFactory_s.h
/Include/CORBA/PortableServer.h
/Source/PortableServer.cpp
/Source/TypeCode.cpp
/Source/TCKind.cpp
/Include/CORBA/ORB.h
/Source/ORB.cpp
/Include/CORBA/InterfaceRepository.h
/Source/InterfaceRepository.cpp
